<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("parts/favicon") %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Schedule</title>
</head>

<body>

    <% var lessonsList %>
    <% var lesson_schedule %>
    <% var students_list %>
    <% var group_list %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand mb-0 h1" href="/admin">Lesson Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/schedule">Schedule</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/groups">Groups</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/students">Students</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Account</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="schedule_section">
        <div class="container" style="padding: 50px 10px;">
            <h1 class="text-center mb-5">Schedule</h1>
            <div class="row row-cols-1 row-cols-md-3 g-5">
                <% for( let item of lesson_schedule ) { %>
                <div class="col">
                    <div class="card" style="height: 100%;">
                        <div class="card-header">
                            <h4><%= item.day %></h4>
                        </div>

                        <div class="card-body">
                            <div class="lessons_table_headers">
                                <div>
                                    <h6>Time</h6>
                                </div>
                                <div>
                                    <h6>Students</h6>
                                </div>
                                <div>
                                    <h6>Actions</h6>
                                </div>
                            </div>
                            <div class="lessons_table">
                                <% for (let lesson of lessonsList) { %>
                                <% if (lesson.day_id.equals(item._id)) {%>
                                <div class="lessons_table_item">
                                    <div class="lesson_time"><%= lesson.time %> </div>
                                    <div class="lesson_students">
                                        <div><%= lesson.group_name %></div>
                                    </div>
                                    <div class="lesson_actions">
                                        <button data-id="<%= lesson._id %>" data-dayname="<%= item.day %>"
                                            data-dayid="<%= item._id %>" data-time="<%= lesson.time %>"
                                            data-bs-toggle="modal" data-bs-target="#editLessonModal"
                                            class="edit_lesson_button btn btn-secondary">Edit</button>
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                            </div>

                        </div>

                        <div class="card-footer d-flex justify-content-end align-items-center">
                            <button data-id="<%= item._id %>" data-dayname="<%= item.day %>" data-bs-toggle="modal"
                                data-bs-target="#addTimeModal" class="add_time_btn btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>

    <!-- Add Lesson Modal -->
    <div class="modal fade" id="addTimeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="add_time_modal_title modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addTimeForm" action="/admin/schedule" method="post">
                        <div>
                            <label for="time">Time</label>
                            <input class="form-control" type="time" name="time" placeholder="Time" required>
                        </div>

                        <div>
                            <label for="">Select groups</label>
                            <select class="form-control" name="group" id="">
                                <% for (let group of group_list) {%>
                                    <option value="<%= group._id %>"><%= group.name %></option>
                                <% } %>
                            </select>
                        </div>

                        <input id="dayName" name="day_name" type="hidden">
                        <input id="dayId" name="day_id" type="hidden">

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Lesson Modal -->
    <div class="modal fade" id="editLessonModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="edit_lesson_modal_title modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="close_modal btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editLessonForm" action="/admin/schedule/update" method="post">
                        <div>
                            <label for="time">Time</label>
                            <input class="edit_lesson_time_input form-control" type="time" name="time"
                                placeholder="Time" required>
                        </div>

                        <div>
                            <label for="">Students</label>
                            <div class="students_select_list">
                                <% for (let student of students_list) {%>
                                <label for="<%= student._id %>"><%= student.fullname %></label>
                                <input class="edit_lesson_student_checkbox" type="checkbox" name="students"
                                    value="<%= student._id %>" id="<%= student._id %>"
                                    data-studentName="<%= student.fullname %>"><br>
                                <% } %>
                            </div>
                        </div>

                        <input id="editLessondayId" name="day_id" type="hidden">
                        <input id="editLessondayName" name="day_name" type="hidden">
                        <input id="editLessonlessonId" name="lesson_id" type="hidden">

                        <div class="modal-footer">
                            <button type="button" class="close_modal btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script>
        const closeModalButtons = document.querySelectorAll(".close_modal")
        const forms = document.getElementsByTagName("form")
        const addTimeButtons = document.querySelectorAll(".add_time_btn")
        const editTimeButtons = document.querySelectorAll(".edit_lesson_button")
        const addTimeModal = document.querySelector("#addTimeModal")
        const addTimeModalTitle = document.querySelector(".add_time_modal_title")
        const editTimeModalTitle = document.querySelector(".edit_lesson_modal_title")
        const editTimeModalTimeInput = document.querySelector(".edit_lesson_time_input")
        const editTimeModalStudentCheckboxes = document.querySelectorAll(".edit_lesson_student_checkbox")
        const dayName = document.querySelector("#dayName")
        const dayId = document.querySelector("#dayId")
        const editLessondayName = document.querySelector("#editLessondayName")
        // const editLessondayId = document.querySelector("#editLessondayId")
        const editLessonLessonId = document.querySelector("#editLessonlessonId")
        const weekDays = document.querySelectorAll(".col")

        document.addEventListener("DOMContentLoaded", event => {

            var a = new Date();
            var days = new Array(7);
            days[0] = "Sunday";
            days[1] = "Monday";
            days[2] = "Tuesday";
            days[3] = "Wednesday";
            days[4] = "Thursday";
            days[5] = "Friday";
            days[6] = "Saturday";
            var r = days[a.getDay()];
            for (let day of weekDays) {
                let current_day_text = day.children[0].children[0].textContent.trim().toLowerCase();
                if (current_day_text == r.trim().toLowerCase()) {
                    day.childNodes[1].classList.add("current_day");
                    day.childNodes[1].childNodes[1].style.backgroundColor = "#64ff92";
                }
            }
        })

        addTimeButtons.forEach(button => {
            button.addEventListener("click", event => {
                addTimeModalTitle.textContent = event.target.dataset.dayname
                dayId.value = event.target.dataset.id
                dayName.value = event.target.dataset.dayname

            })
        })
        editTimeButtons.forEach(button => {
            button.addEventListener("click", event => {
                editTimeModalTitle.textContent =
                    `${event.target.dataset.dayname}: ${event.target.dataset.time}`
                editTimeModalTimeInput.value = `${event.target.dataset.time}`
                editLessonLessonId.value = event.target.dataset.id
                editLessondayId.value = event.target.dataset.dayid
                editLessondayName.value = event.target.dataset.dayname

                console.log(editLessondayId.value, editLessondayName.value);

                let event_students = event.path[2].children[1].children

                for (let checkbox of editTimeModalStudentCheckboxes) {

                    for (let std of event_students) {
                        if (checkbox.dataset.studentname == std.textContent) {
                            checkbox.checked = true;
                        }
                    }
                }

            })
        })

        closeModalButtons.forEach(button => {
            button.addEventListener("click", event => {
                for (let checkbox of editTimeModalStudentCheckboxes) {
                    checkbox.checked = false;
                }
            })
        })
    </script>
</body>

</html>